body{
    text-align: center;

}
l1{
    font-size: 10rem;

}
.container{
    margin: auto;
    padding:10rem;
    

    width: 80%;
}
button{
    font-size: 5rem;
    padding: 5rem 5rem ;
    margin: 1%;

   

}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
.w{
    background-image: url("images/crash.png");
}
.a{
    background-image: url("images/kick.png");
}
.s{
    background-image: url("images/snare.png");
}
.d{
    background-image: url("images/tom1.png");
}

.j{
    background-image: url("images/tom2.png");
}
.k{
    background-image: url("images/tom3.png");
}
.l{
    background-image: url("images/tom4.png");
}