<%- include('partials/header'); -%>
    <h1>
        <%= startingContent.Title%>
    
    </h1>
    <p>
        <%=startingContent.Post%>
        <%startingContent.Post.slice(0, 2)+'...'%>
    </p>


    



    <%- include('partials/footer'); -%>